<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="net.beridar.Bouquet_of_Pain">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Bouquet of Pain">
	</application>
</manifest>
